
@font-face {
  font-family: "clear_sans_lightregular";
  src: url("../fonts/clearsans/clearsans-light-webfont.eot");
  src: url("../fonts/clearsans/clearsans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/clearsans-light-webfont.woff") format("woff"), url("../fonts/clearsans/clearsans-light-webfont.ttf") format("truetype"), url("../fonts/clearsans/clearsans-light-webfont.svg#clear_sans_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "clear_sans_mediumregular";
  src: url("../fonts/clearsans/clearsans-medium-webfont.eot");
  src: url("../fonts/clearsans/clearsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/clearsans-medium-webfont.woff") format("woff"), url("../fonts/clearsans/clearsans-medium-webfont.ttf") format("truetype"), url("../fonts/clearsans/clearsans-medium-webfont.svg#clear_sans_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "clear_sansregular";
  src: url("../fonts/clearsans/clearsans-regular-webfont.eot");
  src: url("../fonts/clearsans/clearsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans/clearsans-regular-webfont.woff") format("woff"), url("../fonts/clearsans/clearsans-regular-webfont.ttf") format("truetype"), url("../fonts/clearsans/clearsans-regular-webfont.svg#clear_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

